QScrollArea {
    background-color: transparent;
    border: none;
}

QLabel#label1 {
    font: 700 34px 'Segoe UI', 'PingFang SC', 'Microsoft YaHei';
    color: black;
}

QLabel#label2,
QLabel#label3 {
    font: 14px 'Segoe UI', 'PingFang SC', 'Microsoft YaHei';
    color: rgb(120, 120, 125)
}
