SettingInterface,
#scrollWidget {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}

/* 标签 */
QLabel#settingLabel {
    font: 700 34px 'Segoe UI', 'PingFang SC', 'Microsoft YaHei';
    letter-spacing: 0.5px;
    background-color: transparent;
    color: white;
}

ColorAnimationFrame {
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 12px;
}

ModeCheckButtonsGroup>#separator {
    color: rgba(255, 255, 255, 0.12);
}
